// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
	H1 {
		color: navy;
		font-size: 30px;
		font-family: arial;
	}
	body{
		background: yellow;
		width:600px;
		height:100px;
		margin-left: -200px;
		left: 20%;
		position: absolute;
	}
	table{
		color: green;
		font-size: 20px;
	}
